{{#if on_sale}}
<div id="discount_percent">{{discount_percent}} %</div>
<div id="priceOnSale">
    <span id="beforePrice">$ {{priceHistory.price}}</span>
    <br>
    <span id="discountPrice">$ {{saleHistory.price}}</span>
</div>
{{else}}
$ {{priceHistory.price}}
{{/if}}