<div class="priceInfo">
    {{#if on_sale}}
    <div class="discountPercentDiv">
        <div class="discountPercent">{{discount_percent}}%</div>
    </div>
    <div class="priceOnSale">
        <div class="beforePrice">$ {{priceHistory.price}}</div>
        <div class="afterPrice">$ {{saleHistory.price}}</div>
    </div>
    {{else}}
        <div class="normalPriceParent">
            <div class="normalPrice">
                $ {{priceHistory.price}}
            </div> 
        </div>
    {{/if}}
</div>