{{#if on_sale}}
<div class="discountPercentDiv">
    <span id="discountPercent">{{discount_percent}}%</span>
</div>
<div class="priceOnSale">
    <span class="beforePrice">$ {{priceHistory.price}}</span>
    <br>
    <span class="afterPrice">$ {{saleHistory.price}}</span>
</div>
{{else}}
    <div class="normalPrice">
        $ {{priceHistory.price}}
    </div>
{{/if}}