<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body id="{{steam_id}}">
        <div id="appTitle">
            <h1>{{title}}</h1>
        </div>
        <div id="appInfo">
            <div id="basics">
                <div id="picture">
                    <img src={{thumbnail}} alt="App image">
                </div>

                <div id="info">
                    <div id="genericInfo">
                        <div id="price">
                            {{#if on_sale}}
                            <div id="discount_percent">{{discount_percent}} %</div>
                            <div id="priceOnSale">
                                <span id="beforePrice">$ {{price_history.price}}</span>
                                <br>
                                <span id="discountPrice">$ {{sale_history.price}}</span>
                            </div>
                            {{else}}
                            $ {{price_history.price}}
                            {{/if}}
                        </div>
                        <span id="developers">Developer(s): {{developers}} {{#unless developers}}Not available{{/unless}}</span>
                        <br>
                        <span id="publishers">Publisher(s): {{publishers}} {{#unless publishers}}Not available{{/unless}}</span>
                        <br>
                        <span id="releaseDate">Release date: {{release_date}} {{#unless release_date}}Not available{{/unless}}</span>
                    </div>

                    <div id="steamSpyInfo">
                        <span id="owners">Owners: {{owners}} {{#unless owners}}Not available{{/unless}}</span>
                        <br>
                        <span id="playersForever">Total players: {{players_forever}} {{#unless players_forever}}Not available{{/unless}}</span>
                        <br>
                        <span id="players2Weeks">Players in the last 2 weeks: {{players_2weeks}} {{#unless players_2weeks}}Not available{{/unless}}</span>
                        <br>
                        <span id="averageForever">Average players: {{average_forever}} {{#unless average_forever}}Not available{{/unless}}</span>
                        <br>
                        <span id="average2Weeks">Average players in the last 2 weeks: {{average_2weeks}} {{#unless average_2weeks}}Not available{{/unless}}</span>
                        <br>
                        <span id="medianForever">Median players: {{median_forever}} {{#unless median_forever}}Not available{{/unless}}</span>
                        <br>
                        <span id="median2Weeks">Median players in the last 2 weeks: {{median_2weeks}} {{#unless median_2weeks}}Not available{{/unless}}</span>
                    </div>

                    <div id="ratingInfo">
                        <div id="ratingChart">
                            <canvas id="ratingCanvas"></canvas>
                        </div>
                        <div id="ratingInfo">
                            <div id="ratingText">
                                Rating text: {{steam_rating_text}} {{#unless steam_rating_text}}Not available{{/unless}}
                            </div>
                            <div id="ratingPosNeg">
                                <span id="ratingPositive">Positive: {{steam_rating_positive}} {{#unless steam_rating_positive}}Not available{{/unless}}</span>
                                <span id="ratingNegative">Negative: {{steam_rating_negative}} {{#unless steam_rating_negative}}Not available{{/unless}}</span>
                            </div>
                        </div>
                        <div id="ratingMetacriticLink">
                            Metacritic link: {{metacritic_link}} {{#unless metacritic_link}}Not available{{/unless}}
                        </div>
                    </div>
                </div>

                <div id="priceCharts">
                    <div id="priceHistory">
                        <canvas id="priceHistoryCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
        <script src="/js/textInDonutChart.js"></script>
        <script src="/js/ratingChart.js"></script>
        <script src="/js/priceHistoryChart.js"></script>
    </body>
</html>