<!DOCTYPE html>
<html>
    <head>
        <title>Testing querying data</title>
    </head>
    <body>
        <h1 id="gameTitle">{{name}}</h1>
        <div id="gameInfo">
            <p>Release date: {{relDate}}</p>
            <p>Owners: {{owners}}</p>
        </div>
        <div id="gamePicture">
            <img src={{thumbnail}} alt={{name}}>
        </div>
        <canvas id="myChart"></canvas>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script>
            const ctx = document.getElementById("myChart").getContext("2d");

            const chart = new Chart(ctx, {
                type: "line",

                data: {
                    labels: ["Today", "Yesterday", "you", "yes", "you"],
                    datasets: [{
                        label: "My first dataset",
                        backgroundColor: "rgb(255, 92, 132)",
                        borderColor: "rgb(255, 99, 132)",
                        data: [21, 678, 982]
                    }]
                }
            })
        </script>
    </body>
</html>